[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
mypy = "*"
flake8 = "*"
pytest = "*"

[packages]

[requires]
python_version = "3.6.10"

[pipenv]
allow_prereleases = true

[scripts]
# export PYTHONPATH="$PYTHONPATH:/app" is required
main = "python ./app/batch_entrypoint.py"
test = "pytest ."

# flake8 runs without PYTHONPATH
lint = "flake8 ."
