[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
mypy = "*"
flake8 = "*"

[packages]

[requires]
python_version = "3.6.10"

[pipenv]
allow_prereleases = true

[scripts]
main = "python ./top_entry.py"

# if you want to call hoge_entry directly, call:
# export PYTHONPATH="$PYTHONPATH:/hoge"
hoge = "python ./hoge/hoge_entry.py"
